{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Parul's Site!</h1><br>
      <h3> ******Our mission is to make our customer happy🙂******</h3><br>
      <p>Welcome to My Awesome Cart, your number one source for all things products, ie: shoes, bags, phones etc. We're dedicated to giving you the very best of product, with a focus on three characteristics, ie: dependability, customer service and uniqueness.
      Founded in 2022 by Parul Gupta,
      My awesome cart has come a long way from its beginnings in a starting location. When store founder first started out, his/her passion for passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians drove him to action, ie: do intense research, quit her day job, and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over place, and are thrilled to be a part of the adjective, ie: quirky, eco-friendly, fair trade wing of the industry type, ie: fashion, electronics, watches industry.</p>

      <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
    </div>
  </div>

</main>

{% endblock %}
